.container
  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked
        %li.nav-header Eboard
        %li{class:@query.nil? && "active"}
          =link_to "Executive Board", board_path
        %li{class:! @query.nil? && "active"}
          =link_to "Production Board", board_path(:production =>"yes")
        %li 
          =link_to "Constitution", "https://docs.google.com/file/d/0BwmYiU_-EWqycExkR2JhZUxGbDA/edit?usp=sharing"
        %li.nav-header
          Contact information
        %li
          %a{:href => "http://goo.gl/maps/1ntHz"} Address: BU Union Room B14
        %li
          %a{:href => "https://www.facebook.com/groups/TheNewBTV/"}BTV General Body on Facebook
      %div
    .span9
      .row-fluid.text-center
        .page-header
        -if @query.nil?
          %h2.contact-title Executive Board
        -else 
          %h2.contact-title Production Board
        %div
        -if @query.nil?
          %p We Decide Stuff
          %p What the Executive Board Does
        -else 
          %p We Produce Stuff
          %p What the Production Board Does
        %br
          %br
            .row-fluid
              -@all_board_members.each do |member|
                %li.span4
                  .thumbnail
                    %a{ :description => "#{member['description']}"} 
                      .contact-image-box
                        %img.img-rounded.contact-image{:alt => "", :src => "#{member['photo']}"}
                          %h4.contact-name
                            %span 
                              ="#{member['name']}"
                              %br=member['title']
                          %a{:href => "mailto:#{member['email']}"}
                            %h6.contact-info
                              %span="#{member['email']}"


