<div class="container">
  <p>
  <p><strong>Sign in through facebook:</strong></p>

    <div class="auth_providers">
      
      <a href="/auth/facebook" class="auth_provider">
        <%= image_tag "facebook_64.png", size: "154x22", alt: "Facebook" %>
        
      </a>
      
    </div>
    
    <p>
    
    <%= link_to "Create an account", new_identity_path %> or login below.
  </p>

  <%= form_tag "/auth/identity/callback" do %>
    <div class="field">
      <%= label_tag :auth_key, "Email" %><br>
      <%= text_field_tag :auth_key %>
    </div>
    <div class="field">
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Login" %></div>
  <% end %>
</div>


