.container
  .span10.offset1
    %h1.text-center
      User Information
    %table.table.table-hover
      %thead
        %tr
          %th Name
          %th Email
          %th Position
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to "#{user.name}", admin_user_path(user)
            %td= mail_to "#{user.email}"

    <br>
    = link_to "Back to Admin", admin_root_path
