.container
  = form_for @user, :url => url_for(:controller => 'admin/content', :action => 'create_user') do |f|
    Name:
    = f.text_field :name
    <br>
    Email:
    = f.text_field :email
    <br>
    = f.submit

  = link_to "Back to users list", :action => "show_users"

