.container
  .span10.offset1
    %h1.text-center
      = "Ima User's Information"

    -# This should probably be a form instead of a form tag,
    -# but I'm avoiding accessing the models for this iteration.
    = form_tag admin_edit_user_path do
      = label_tag "name", "Name:"
      = text_field_tag "name", "Ima User", :disabled => true
      = label_tag "email", "Email:"
      = email_field_tag "email", "ima@binghamton.edu"
      = label_tag "role", "Role:"
      = select_tag "role", "<option selected>User</option><option>President</option><option>Whatever</option>".html_safe
      = submit_tag "Submit Changes", :confirm => "Change this user's information?"
    = link_to "Back to users list", :action => "show_users"
