!!! 5
%html
  %head
    %title B-TV - Administration
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    :css
      body {
          padding-top: 60px;
          padding-bottom: 40px;
      }
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag "bootstrap.min"
    = stylesheet_link_tag "bootstrap-responsive.min"
    = stylesheet_link_tag "main"
    = javascript_include_tag "modernizr-2.6.2-respond-1.1.0.min"

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a#ham_btn.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand#BTV_logo{:href => "/"}
            %img{:src => "/assets/BTV.jpg"} 
          .nav-collapse.collapse#navbar
            %ul.nav
              %li{:class => @home_active}
                %a{:href => "/"} Home
              %li{:class => @about_active}
                %a{:href => "/about"} About
              %li{:class => @board_active}
                %a{:href => "/board"} Board
              %li{:class => @shows_active}
                %a{:href => "/shows"} Shows
              %li{:class => @schedule_active}
                %a{:href => "/schedule"} Schedule
              %li{:class => @join_active}
                %a{:href => "/join"} Joins
              %li.divider-vertical
            %ul.nav.pull-right
              %li.divider-vertical
              %li= link_to "Dashboard", admin_root_path
              %li= link_to "Users", admin_users_path
              %li= link_to "User Videos", admin_videos_path
              %li= link_to "Pending Videos", admin_pending_videos_path
          / /.nav-collapse

    - if flash[:notice]
      #notice.span10= flash[:notice]
    - elsif flash[:warning]
      #warning.span10= flash[:warning]
 
    = yield
  %hr
  %footer
    %p © B-TV
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    = javascript_include_tag "bootstrap.min"
    = javascript_include_tag "plugins"
    = javascript_include_tag "main"
